<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sidebarTree.mapper.Breed2Mapper">

    <resultMap type="Breed2" id="Breed2Result">
        <result property="id"    column="id"    />
        <result property="materialName"    column="material_name"    />
        <result property="pdfpath"    column="pdfpath"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="info"    column="info"    />
        <result property="genofile"    column="genofile"    />
        <result property="ceyanfile"    column="ceyanfile"    />
    </resultMap>

    <sql id="selectBreed2Vo">
        select id, material_name, pdfpath, create_by, create_time, update_by, update_time,status,info,genofile,ceyanfile from breed2
    </sql>

    <select id="selectBreed2List" parameterType="Breed2" resultMap="Breed2Result">
        <include refid="selectBreed2Vo"/>
        <where>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="pdfpath != null  and pdfpath != ''"> and pdfpath = #{pdfpath}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="info != null  and info != ''"> and info = #{info}</if>
            <if test="genofile != null  and genofile != ''"> and genofile = #{genofile}</if>
            <if test="ceyanfile != null  and ceyanfile != ''"> and ceyanfile = #{ceyanfile}</if>
        </where>
        order by create_time DESC
    </select>

    <select id="selectBreed2ById" parameterType="Long" resultMap="Breed2Result">
        <include refid="selectBreed2Vo"/>
        where id = #{id}
    </select>


    <insert id="insertBreed2" parameterType="Breed2">
        insert into breed2
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="materialName != null">material_name,</if>
            <if test="pdfpath != null">pdfpath,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="info != null">info,</if>
            <if test="genofile != null">genofile,</if>
            <if test="ceyanfile != null">ceyanfile,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="pdfpath != null">#{pdfpath},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="info != null">#{info},</if>
            <if test="genofile != null"> #{genofile},</if>
            <if test="ceyanfile != null"> #{ceyanfile},</if>
        </trim>
    </insert>

    <update id="updateBreed2" parameterType="Breed2">
        update breed2
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialName != null">material_name = #{materialName},</if>
            <if test="pdfpath != null">pdfpath = #{pdfpath},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="info != null">info = #{info},</if>
            <if test="genofile != null">genofile = #{genofile},</if>
            <if test="ceyanfile != null">ceyanfile = #{ceyanfile},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectMaxId" resultType="java.lang.Integer">
        select MAX(id) from breed2
    </select>

    <delete id="deleteBreed2ByIds" parameterType="String">
        delete from breed2 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
