<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zeamap.mapper.AssociationQtlMapper">

    <resultMap type="AssociationQtl" id="AssociationQtlResult">
        <result property="associationQtlId" column="association_qtl_id"/>
        <result property="accession" column="accession"/>
        <result property="version" column="version"/>
        <result property="chr" column="chr"/>
        <result property="start" column="start"/>
        <result property="end" column="end"/>
        <result property="qtlUid" column="qtl_uid"/>
        <result property="omics" column="omics"/>
        <result property="xot_uid" column="xot_uid"/>
        <result property="log" column="log"/>
        <result property="dbxrefId" column="dbxref_id"/>
        <result property="traitId" column="trait_id"/>
    </resultMap>

    <sql id="selectAssociationQtlVo">
        select association_qtl_id,
               chr,
               start,
               end,
               qtl_uid,
               log,
               dbxref_id,
               trait_id
        from association_qtl
    </sql>

    <select id="selectAssociationQtlList" parameterType="AssociationQtl" resultMap="AssociationQtlResult">
        <include refid="selectAssociationQtlVo"/>
        <where>
            <if test="chr != null  and chr != ''">and chr = #{chr}</if>
            <if test="start != null ">and start = #{start}</if>
            <if test="end != null ">and end = #{end}</if>
            <if test="qtlUid != null  and qtlUid != ''">and qtl_uid = #{qtlUid}</if>
            <if test="log != null  and log != ''">and log = #{log}</if>
            <if test="dbxrefId != null ">and dbxref_id = #{dbxrefId}</if>
            <if test="traitId != null ">and trait_id = #{traitId}</if>
        </where>
    </select>

    <select id="selectAssociationQtlByAssociationQtlId" parameterType="Long" resultMap="AssociationQtlResult">
        <include refid="selectAssociationQtlVo"/>
        where association_qtl_id = #{associationQtlId}
    </select>

    <insert id="insertAssociationQtl" parameterType="AssociationQtl" useGeneratedKeys="true"
            keyProperty="associationQtlId">
        insert into association_qtl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chr != null">chr,</if>
            <if test="start != null">start,</if>
            <if test="end != null">end,</if>
            <if test="qtlUid != null">qtl_uid,</if>
            <if test="log != null">log,</if>
            <if test="dbxrefId != null">dbxref_id,</if>
            <if test="traitId != null">trait_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chr != null">#{chr},</if>
            <if test="start != null">#{start},</if>
            <if test="end != null">#{end},</if>
            <if test="qtlUid != null">#{qtlUid},</if>
            <if test="log != null">#{log},</if>
            <if test="dbxrefId != null">#{dbxrefId},</if>
            <if test="traitId != null">#{traitId},</if>
        </trim>
    </insert>

    <update id="updateAssociationQtl" parameterType="AssociationQtl">
        update association_qtl
        <trim prefix="SET" suffixOverrides=",">
            <if test="chr != null">chr = #{chr},</if>
            <if test="start != null">start = #{start},</if>
            <if test="end != null">end = #{end},</if>
            <if test="qtlUid != null">qtl_uid = #{qtlUid},</if>
            <if test="log != null">log = #{log},</if>
            <if test="dbxrefId != null">dbxref_id = #{dbxrefId},</if>
            <if test="traitId != null">trait_id = #{traitId},</if>
        </trim>
        where association_qtl_id = #{associationQtlId}
    </update>

    <delete id="deleteAssociationQtlByAssociationQtlId" parameterType="Long">
        delete
        from association_qtl
        where association_qtl_id = #{associationQtlId}
    </delete>

    <delete id="deleteAssociationQtlByAssociationQtlIds" parameterType="String">
        delete from association_qtl where association_qtl_id in
        <foreach item="associationQtlId" collection="array" open="(" separator="," close=")">
            #{associationQtlId}
        </foreach>
    </delete>

    <!--@Author 刘洋-->
    <!--查找dbxref表里面的accession-->
    <select id="selectaccession" resultType="String">
        select distinct D.accession FROM dbxref D,db
        where
            db.name like '%-GFF' and D.db_id=db.db_id
    </select>
    <!--查找dbxref表里面的version,version是reference的下级-->
    <select id="selectversion" parameterType="String" resultType="String">
             select distinct version from dbxref where accession=#{accession} and version is not null and version!=''
    </select>
    <!--查找Trait Category -->
    <select id="selecttraitcategory" resultType="String">
        select distinct omics
        from xot
    </select>
    <!--查找Trait Id -->
    <select id="selecttraitid" parameterType="String" resultType="String">
        select distinct xot_uid
        from xot
        where xot_uid like concat('%',#{trait_id},'%') or #{trait_id} is null or #{trait_id}='' or #{trait_id}='null'
        limit 20
    </select>
    <!--查找chr-->
    <select id="selectchr" resultType="String">
        select distinct chr
        from association_qtl
    </select>

    <!--大查询-->
    <select id="selectassociation_qtl" resultMap="AssociationQtlResult">
        select association_qtl_id,qtl_uid,accession,version,chr,start,end ,omics,xot_uid,log,association_qtl.dbxref_id
        from association_qtl,dbxref,xot
        where
            (accession=#{accession} and version=#{version}
            or (#{accession}=''or #{accession} is null))
          and association_qtl.dbxref_id=dbxref.dbxref_id
          and (omics=#{omics}
                 or (#{omics}=''or #{omics} is null))
          and (xot_uid=#{xot_uid}
                    or (#{xot_uid}=''or #{xot_uid} is null))
          and association_qtl.trait_id=xot.xot_id
            and (chr=#{chr} or #{chr}=''or #{chr} is null)
            and start>#{start} and #{end}>end
            and log>#{log_min} and #{log_max}>log

    </select>
</mapper>