<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zeamap.mapper.GenoViewerMapper">
    
    <select id="selectTst" resultType="String">
        select D.name from germplasm D where group_id in (select subgroup_id from subgroup where name="TST")
    </select>

    <select id="selectMix" resultType="String">
        select D.name from germplasm D where group_id in (select subgroup_id from subgroup where name="Mixed")
    </select>

    <select id="selectNss" resultType="String">
        select D.name from germplasm D where group_id in (select subgroup_id from subgroup where name="NSS")
    </select>

    <select id="selectSS" resultType="String">
        select D.name from germplasm D where group_id in (select subgroup_id from subgroup where name="SS")
    </select>

    <select id="selectFile" resultType="String">
        select vcffilepath from genotype where analysis_id=#{analysis_id}
    </select>
</mapper>