<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zeamap.mapper.ImportTfbdInfoMapper">
    
    <resultMap type="ImportTfbdInfo" id="ImportTfbdInfoResult">
        <result property="tfbdId"    column="tfbd_id"    />
        <result property="name"    column="name"    />
        <result property="family"    column="family"    />
        <result property="simplename"    column="simplename"    />
        <result property="genev4"    column="genev4"    />
        <result property="genev3"    column="genev3"    />
        <result property="tfClass"    column="tf_class"    />
        <result property="enrichGo"    column="enrich_go"    />
        <result property="enrichMp"    column="enrich_mp"    />
        <result property="atid"    column="AtID"    />
        <result property="atsimplename"    column="Atsimplename"    />
        <result property="description"    column="description"    />
        <result property="phenotype"    column="phenotype"    />
        <result property="analysisId"    column="analysis_id"    />
    </resultMap>

    <sql id="selectImportTfbdInfoVo">
        select tfbd_id, name, family, simplename, genev4, genev3, tf_class, enrich_go, enrich_mp, AtID, Atsimplename, description, phenotype, analysis_id from tfbd_info
    </sql>

    <select id="selectImportTfbdInfoList" parameterType="ImportTfbdInfo" resultMap="ImportTfbdInfoResult">
        <include refid="selectImportTfbdInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="family != null  and family != ''"> and family = #{family}</if>
            <if test="simplename != null  and simplename != ''"> and simplename like concat('%', #{simplename}, '%')</if>
            <if test="genev4 != null  and genev4 != ''"> and genev4 = #{genev4}</if>
            <if test="genev3 != null  and genev3 != ''"> and genev3 = #{genev3}</if>
            <if test="tfClass != null  and tfClass != ''"> and tf_class = #{tfClass}</if>
            <if test="enrichGo != null  and enrichGo != ''"> and enrich_go = #{enrichGo}</if>
            <if test="enrichMp != null  and enrichMp != ''"> and enrich_mp = #{enrichMp}</if>
            <if test="atid != null  and atid != ''"> and AtID = #{atid}</if>
            <if test="atsimplename != null  and atsimplename != ''"> and Atsimplename like concat('%', #{atsimplename}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="phenotype != null  and phenotype != ''"> and phenotype = #{phenotype}</if>
            <if test="analysisId != null "> and analysis_id = #{analysisId}</if>
        </where>
    </select>
    
    <select id="selectImportTfbdInfoByTfbdId" parameterType="Long" resultMap="ImportTfbdInfoResult">
        <include refid="selectImportTfbdInfoVo"/>
        where tfbd_id = #{tfbdId}
    </select>
        
    <insert id="insertImportTfbdInfo" parameterType="ImportTfbdInfo">
        insert into tfbd_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tfbdId != null">tfbd_id,</if>
            <if test="name != null">name,</if>
            <if test="family != null">family,</if>
            <if test="simplename != null">simplename,</if>
            <if test="genev4 != null">genev4,</if>
            <if test="genev3 != null">genev3,</if>
            <if test="tfClass != null">tf_class,</if>
            <if test="enrichGo != null">enrich_go,</if>
            <if test="enrichMp != null">enrich_mp,</if>
            <if test="atid != null">AtID,</if>
            <if test="atsimplename != null">Atsimplename,</if>
            <if test="description != null">description,</if>
            <if test="phenotype != null">phenotype,</if>
            <if test="analysisId != null">analysis_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tfbdId != null">#{tfbdId},</if>
            <if test="name != null">#{name},</if>
            <if test="family != null">#{family},</if>
            <if test="simplename != null">#{simplename},</if>
            <if test="genev4 != null">#{genev4},</if>
            <if test="genev3 != null">#{genev3},</if>
            <if test="tfClass != null">#{tfClass},</if>
            <if test="enrichGo != null">#{enrichGo},</if>
            <if test="enrichMp != null">#{enrichMp},</if>
            <if test="atid != null">#{atid},</if>
            <if test="atsimplename != null">#{atsimplename},</if>
            <if test="description != null">#{description},</if>
            <if test="phenotype != null">#{phenotype},</if>
            <if test="analysisId != null">#{analysisId},</if>
         </trim>
    </insert>

    <update id="updateImportTfbdInfo" parameterType="ImportTfbdInfo">
        update tfbd_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="family != null">family = #{family},</if>
            <if test="simplename != null">simplename = #{simplename},</if>
            <if test="genev4 != null">genev4 = #{genev4},</if>
            <if test="genev3 != null">genev3 = #{genev3},</if>
            <if test="tfClass != null">tf_class = #{tfClass},</if>
            <if test="enrichGo != null">enrich_go = #{enrichGo},</if>
            <if test="enrichMp != null">enrich_mp = #{enrichMp},</if>
            <if test="atid != null">AtID = #{atid},</if>
            <if test="atsimplename != null">Atsimplename = #{atsimplename},</if>
            <if test="description != null">description = #{description},</if>
            <if test="phenotype != null">phenotype = #{phenotype},</if>
            <if test="analysisId != null">analysis_id = #{analysisId},</if>
        </trim>
        where tfbd_id = #{tfbdId}
    </update>

    <delete id="deleteImportTfbdInfoByTfbdId" parameterType="Long">
        delete from tfbd_info where tfbd_id = #{tfbdId}
    </delete>

    <delete id="deleteImportTfbdInfoByTfbdIds" parameterType="String">
        delete from tfbd_info where tfbd_id in 
        <foreach item="tfbdId" collection="array" open="(" separator="," close=")">
            #{tfbdId}
        </foreach>
    </delete>
</mapper>