<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zeamap.mapper.LinkageMarkerMapper">
    
    <resultMap type="LinkageMarker" id="LinkageMarkerResult">
        <result property="linkageMarkerId"    column="linkage_marker_id"    />
        <result property="accession" column="accession"/>
        <result property="version" column="version"/>
        <result property="omics" column="omics"/>
        <result property="xot_uid" column="xot_uid"/>
        <result property="linkageMap"    column="linkagemap"    />
        <result property="linkageGroup"    column="linkage_group"    />
        <result property="linkageCm"    column="linkage_cm"    />
        <result property="variantId" column="variant_id"/>
        <result property="dbxrefId"    column="dbxref_id"    />
        <result property="qtlId"    column="qtl_id"    />
        <result property="qtlUid"    column="qtl_uid"    />
    </resultMap>

    <sql id="selectLinkageMarkerVo">
        select linkage_marker_id, linkage_group, linkage_cm, dbxref_id, qtl_id, variant_id from  linkage_marker
    </sql>

    <select id="selectLinkageMarkerList" parameterType="LinkageMarker" resultMap="LinkageMarkerResult">
        <include refid="selectLinkageMarkerVo"/>
        <where>  
            <if test="linkageGroup != null "> and linkage_group = #{linkageGroup}</if>
            <if test="linkageCm != null  and linkageCm != ''"> and linkage_cm = #{linkageCm}</if>
            <if test="dbxrefId != null "> and dbxref_id = #{dbxrefId}</if>
            <if test="qtlId != null "> and qtl_id = #{qtlId}</if>
            <if test="variantId != null "> and variant_id = #{variantId}</if>
        </where>
    </select>
    
    <select id="selectLinkageMarkerByLinkageMarkerId" parameterType="Long" resultMap="LinkageMarkerResult">
        <include refid="selectLinkageMarkerVo"/>
        where linkage_marker_id = #{linkageMarkerId}
    </select>
        
    <insert id="insertLinkageMarker" parameterType="LinkageMarker" useGeneratedKeys="true" keyProperty="linkageMarkerId">
        insert into  linkage_marker
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="linkageGroup != null">linkage_group,</if>
            <if test="linkageCm != null">linkage_cm,</if>
            <if test="dbxrefId != null">dbxref_id,</if>
            <if test="qtlId != null">qtl_id,</if>
            <if test="variantId != null">variant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="linkageGroup != null">#{linkageGroup},</if>
            <if test="linkageCm != null">#{linkageCm},</if>
            <if test="dbxrefId != null">#{dbxrefId},</if>
            <if test="qtlId != null">#{qtlId},</if>
            <if test="variantId != null">#{variantId},</if>
         </trim>
    </insert>

    <update id="updateLinkageMarker" parameterType="LinkageMarker">
        update  linkage_marker
        <trim prefix="SET" suffixOverrides=",">
            <if test="linkageGroup != null">linkage_group = #{linkageGroup},</if>
            <if test="linkageCm != null">linkage_cm = #{linkageCm},</if>
            <if test="dbxrefId != null">dbxref_id = #{dbxrefId},</if>
            <if test="qtlId != null">qtl_id = #{qtlId},</if>
            <if test="variantId != null">variant_id = #{variantId},</if>
        </trim>
        where linkage_marker_id = #{linkageMarkerId}
    </update>

    <delete id="deleteLinkageMarkerByLinkageMarkerId" parameterType="Long">
        delete from  linkage_marker where linkage_marker_id = #{linkageMarkerId}
    </delete>

    <delete id="deleteLinkageMarkerByLinkageMarkerIds" parameterType="String">
        delete from  linkage_marker where linkage_marker_id in
        <foreach item="linkageMarkerId" collection="array" open="(" separator="," close=")">
            #{linkageMarkerId}
        </foreach>
    </delete>

    <!--@Author 刘洋-->
    <!--查找dbxref表里面的accession-->
    <select id="selectaccession" resultType="String">
        select distinct D.accession FROM dbxref D,db
        where
            db.name like '%-GFF' and D.db_id=db.db_id
    </select>
    <!--查找dbxref表里面的version,version是reference的下级-->
    <select id="selectversion" parameterType="String" resultType="String">
        select distinct version from dbxref where accession=#{accession} and version is not null and version!=''
    </select>
    <!--查找Trait Category -->
    <select id="selecttraitcategory" resultType="String">
        select distinct omics from xot
    </select>
    <!--查找Trait Id -->
    <select id="selecttraitid" resultType="String">
        select distinct xot_uid
        from xot
        where xot_uid like concat('%',#{trait_id},'%') or #{trait_id} is null or #{trait_id}='' or #{trait_id}='null'
        limit 20
    </select>
    <!--查找linkagemap-->
    <select id="selectlinkagemap" resultType="String">
        select distinct linkagemap from  linkage_qtl
    </select>
    <!--查找lg-->
    <select id="selectlg" resultType="String">
        select distinct linkage_group from linkage_marker
    </select>
    <!--大查询-->
    <select id="selectlinkage_marker" parameterType="com.ruoyi.zeamap.domain.LinkageMarkerSelectCondition" resultMap="LinkageMarkerResult">
        select linkage_marker_id,qtl_id,qtl_uid,accession,version,omics,xot_uid,linkagemap,linkage_marker.dbxref_id,linkage_cm,linkage_group,variant_id
        from linkage_marker,linkage_qtl,dbxref,xot
        where
            (linkage_marker.dbxref_id=dbxref.dbxref_id and accession=#{accession} and version=#{version}
                or (#{accession}=''or #{accession} is null))
          and (linkage_marker.qtl_id=linkage_qtl.linkage_qtl_id and linkage_qtl.trait_id=xot.xot_id and omics=#{omics}
                or (#{omics}=''or #{omics} is null))
          and (linkage_marker.qtl_id=linkage_qtl.linkage_qtl_id and linkage_qtl.trait_id=xot.xot_id and xot_uid=#{xot_uid}
                or (#{xot_uid}=''or #{xot_uid} is null))
          and (linkage_marker.qtl_id=linkage_qtl.linkage_qtl_id and linkagemap=#{linkagemap}
                or(#{linkagemap}=''or #{linkagemap} is null))

          and (linkage_group=#{lg} or #{lg}='' or #{lg} is null)

          and linkage_cm>#{cm_min} and #{cm_max}>linkage_cm


    </select>
</mapper>